<h1>Users</h1>
<a (click)="openDialog(null)" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%">Name</th>
      <th style="width: 30%">Email</th>
      <th style="width: 30%">Role</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody *ngIf="!this.loading">
    <tr *ngFor="let user of users">
      <td>{{user.title}} {{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td style="white-space: nowrap">
        <a (click)="openDialog(user.id)" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button (click)="openDialog(user.id, 'delete')" class="btn btn-sm btn-danger btn-delete-user"
          [disabled]="user.isDeleting">
          <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!user.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tr *ngIf="!users || this.loading">
    <td colspan="4" class="text-center">
      <mat-spinner style="margin: auto;"></mat-spinner>
    </td>
  </tr>
</table>
