<div class="container m-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div className="form-group">
      <p>Project Name</p>
      <input formControlName="projectName" class="form-control" name="projectName" />
    </div>
    <div class="form-group">
      <p>Description</p>
      <div class="content">
        <div class="display">
        </div>
        <div class="editor">
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              formControlName="description"
              [placeholder]="'type here'"
            ></ngx-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p>Category</p>
      <select formControlName="categoryId"  name="categoryId" class="form-control">
        <option value="1">Dự án phầm mềm</option>
        <option value="2">Dự án web</option>
        <option value="3">Dự án di động</option>
      </select>
    </div>
    <button class="btn btn-success" type="submit">Create project</button>
  </form>
</div>
